@charset "UTF-8";

/*
	Theme Name: Portfolio Theme - Klara
	Theme URI: http://www.kollerstrom.com
	Description: Portfolio theme
	Version: 1.0
	Author: Klara Köllerström
	Author URI: http://www.kollerstrom.se
	Tags: Portfolio theme

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

/* IMPORTS */

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GLOBAL STYLING */

* {
  box-sizing: border-box;
}

/* clear */

.clear:before,
.clear:after {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

body {
  font-size: 0.625em;
  background-color: black;
}

body .container-fluid {
  background-color: white;
}

body .container-fluid main {
  text-align: center;
}

@media (min-width: 1024px) {
  body .container-fluid a:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
}

/* General typography */

.wrapper h1 {
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  font-size: 2.5em;
}

@media (min-width: 768px) {
  .wrapper h1 {
    font-size: 2.5em;
  }
}

@media (min-width: 1024px) {
  .wrapper h1 {
    font-size: 3em;
  }
}

.wrapper h2 {
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
}

@media (min-width: 768px) {
  .wrapper h2 {
    font-size: 2.3em;
  }
}

@media (min-width: 1024px) {
  .wrapper h2 {
    font-size: 2.5em;
  }
}

.wrapper h3 {
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  font-size: 1.8em;
}

@media (min-width: 768px) {
  .wrapper h3 {
    font-size: 2em;
  }
}

@media (min-width: 1024px) {
  .wrapper h3 {
    font-size: 2.3em;
  }
}

.wrapper p {
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}

@media (min-width: 768px) {
  .wrapper p {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  .wrapper p {
    font-size: 1.8em;
  }
}

/* Links - general */

a {
  text-decoration: none;
  color: #89c6b2;
}

a:hover {
  color: #4c9d82;
}

a:active {
  color: #abd7c8;
}

.header {
  color: white;
  width: 100%;
  padding: 0 16px;
  z-index: 100;
  background: black;
  height: 100px;
  position: fixed;
  top: 0;
  -webkit-transition: top 0.2s ease-in-out;
  -o-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
}

@media (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100px;
            flex: 0 1 100px;
  }
}

.header--up {
  top: -100px;
}

.header__logo--link {
  color: white;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}

.header__logo--link:hover,
.header__logo--link:active {
  text-decoration: none;
  position: relative;
  color: white;
  -webkit-animation: jump 0.3s linear 0s;
       -o-animation: jump 0.3s linear 0s;
          animation: jump 0.3s linear 0s;
}

@-webkit-keyframes jump {
  0% {
    top: 0px;
  }

  50% {
    top: -5px;
  }

  100% {
    top: 0px;
  }
}

@-o-keyframes jump {
  0% {
    top: 0px;
  }

  50% {
    top: -5px;
  }

  100% {
    top: 0px;
  }
}

@keyframes jump {
  0% {
    top: 0px;
  }

  50% {
    top: -5px;
  }

  100% {
    top: 0px;
  }
}

@media (min-width: 1280px) {
  .header__logo--link {
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
  }
}

.header__logo--link--description {
  padding: 0;
  font-variant: all-small-caps;
  font-weight: 200;
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
}

.header__toggle {
  display: block;
  position: absolute;
  width: 24px;
  padding: 0;
  margin: 0;
  top: 15px;
  right: 15px;
}

@media (min-width: 768px) {
  .header__toggle {
    display: none;
  }
}

.header__nav {
  font-weight: 200;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
}

.header__nav .menu {
  list-style: none;
  padding: 0 0;
}

.header__nav .menu .current-menu-item {
  color: #89c6b2;
}

.header__nav .menu .menu-item {
  padding: 3px 3px 3px 3px;
}

.header__nav .menu .menu-item a {
  color: white;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  font-size: 1.8em;
}

@media (min-width: 768px) {
  .header__nav .menu .menu-item {
    display: inline-block;
    float: right;
  }

  .header__nav .menu .menu-item a,
  .header__nav .menu .menu-item a:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
}

@media (max-width: 767px) {
  .header__nav .menu .menu-item {
    display: block;
    position: relative;
    /*top: 60px;*/
    width: 100%;
    background-color: black;
  }
}

@media (min-width: 1024px) {
  .header__nav ul {
    display: block;
  }
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

/* Moving Background clip */

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}

.hidden {
  display: none;
}

.article {
  background-color: #89c6b2;
  text-align: left;
  padding: 2em 2em 2em 2em;
  margin-top: 3em;
  margin-bottom: 3em;
}

.article a {
  color: white;
  text-decoration: none;
}

.article img {
  max-width: 100%;
  height: auto;
  padding-bottom: 2em;
}

p {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}

.postInfo {
  font-style: italic;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
}

.sidebar__aside {
  text-align: center;
  padding-right: 3em;
}

.sidebar__aside .sidebar__container {
  padding-top: 3em;
}

.sidebar__aside .sidebar__container #sidebar {
  text-align: center;
  padding-left: 0;
  list-style: none;
}

.sidebar__aside .sidebar__container #sidebar a,
.sidebar__aside .sidebar__container #sidebar a:hover,
.sidebar__aside .sidebar__container #sidebar a:active {
  text-decoration: none;
}

@media (min-width: 768px) {
  .sidebar__aside .sidebar__container #sidebar {
    text-align: left;
  }
}

.sidebar__aside .sidebar__container #sidebar .widget {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  margin-bottom: 3em;
}

.sidebar__aside .sidebar__container #sidebar .widget ul {
  list-style: none;
  padding: 0 0;
}

.sidebar__aside .sidebar__container #sidebar .widget .widgettitle {
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}

footer {
  text-align: center;
  color: white;
  padding: 1em 0 1em 0;
}

@media (min-width: 768px) {
  footer {
    float: left;
    width: 100%;
  }
}

