.header{
    color: $brightText;
    width: 100%;
    padding: 0 16px;
    z-index: 100;
    background: black;
    height: $headerHight;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    @media (min-width: 768px) {
        display: flex;
        align-items: center; //vertikal centrering
        justify-content: space-between;
        flex: 0 1 $headerHight;
    }

    &--up {
        top: -$headerHight;
    }
    &__logo{
        &--link {
            color: $brightText;
            @include fixFont(900, 1.5em);
                &:hover, &:active {
                    text-decoration: none;
                    position: relative;
                    color: $brightText;
                    animation: jump 0.3s linear 0s;
                    @keyframes jump {
                        0%   {top:0px;}
                        50%  {top:-5px;}
                        100% {top:0px;}
                    }
                }
            @media (min-width:1280px) {
                @include fixFont(900, 2em);
            }
            &--description {
                padding: 0;
                font-variant: all-small-caps;
                @include fixFont(200, 0.7em);
            }
        }
    }
    &__toggle {
        display: block;
        position: absolute;
        @media (min-width: 768px) {
            display: none;
        }
        width: 24px;
        padding: 0;
        margin: 0;
        top: 15px;
        right: 15px;
    }
    &__nav{
        @include fixFont(200, 0.8em);
        .menu {
            list-style: none;
            padding: 0 0;
            .current-menu-item {
                color: $primaryColor;
            }
            .menu-item {
                padding: 3px 3px 3px 3px;
                a{
                    color: $brightText;
                    @include fixFont(400, 1.8em);
                }
                @media (min-width: 768px) {
                    display: inline-block;
                    float:right;
                    a, a:hover {
                        transition:0.3s;
                    }
                }
                @media (max-width: 767px) {
                    display: block;
                    position: relative;
                    /*top: 60px;*/
                    width: 100%;
                    background-color: black;
                }
            }
        }
        ul { 
            @media (min-width:1024px) {
               display: block;
            }
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
}