.article {
    background-color: $primaryColor;
    text-align: left;
    padding: 2em 2em 2em 2em;
    margin-top:3em;
    margin-bottom:3em;
    a{
        color: $brightText;
        text-decoration: none;
    }
    img {
        max-width: 100%;
        height:auto;
        padding-bottom: 2em;
    }
    @media (min-width:768px) {
    }
    @media (min-width:1024px) {
    }
    @media (min-width:1280px) {
    }
}

p {
	@include fixFont(400, 1.5em);
}
.postInfo {
    font-style: italic;
    @include fixFont(400, 0.8em);
}