.sidebar__aside {
    text-align: center;
    padding-right: 3em;
    .sidebar__container {
        padding-top: 3em;
        #sidebar {
            text-align: center;
            padding-left: 0;
            list-style: none;
            a, a:hover, a:active {
                text-decoration: none;
            }
            @media (min-width:768px) {
                text-align: left;
            }
            .widget {
                @include fixFont(400, 1.3em);
                margin-bottom: 3em;
                ul {
                    list-style: none;
                    padding: 0 0;
                }
                .widgettitle {
                    @include fixFont(600, 1.5em);
                }
            }
        }
    }
}