/* GLOBAL STYLING */
* {
	box-sizing: border-box;
}

/* clear */
.clear:before,
.clear:after {
    content:' ';
    display: table;
}
.clear:after {
    clear: both;
}
.clear {
    *zoom: 1;
}

body{
	font-size: 0.625em;
	background-color: black;
	.container-fluid{
		background-color: white;
		main {
			text-align: center;
		}
		@media (min-width:1024px) {
			a {
				&:hover {
					transition:0.3s;
				}
			}
		}
	}
}