/* General typography */
.wrapper{
    h1{
        @include fixFont(700, 2.5em);
        @media (min-width:768px) {
            font-size: 2.5em;
        }
        @media (min-width:1024px) {
            font-size: 3em;
        }
    }
    h2{
        @include fixFont(700, 2em);
        @media (min-width:768px) {
            font-size: 2.3em;
        }
        @media (min-width:1024px) {
            font-size: 2.5em;
        }
    }
    h3{
        @include fixFont(700, 1.8em);
        @media (min-width:768px) {
            font-size: 2em;
        }
        @media (min-width:1024px) {
            font-size: 2.3em;
        }
    }
    p{
        @include fixFont(300, 1.2em);
        @media (min-width:768px) {
            font-size: 1.5em;
        }
        @media (min-width:1024px) {
            font-size: 1.8em;
        }
    }
}

/* Links - general */
a {
	text-decoration: none;
	color: $primaryColor;
	&:hover {
		color: $darkColor;
	}
	&:active {
		color: $compColor;
	}
}